*
{
    margin:0;
    padding:0;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0, 0, 0, 0.4)),url("tobias-tullius-PXXtq6bp6cs-unsplash.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
}

body{
    font-family: poppins;
    color: white;
}

.img-profile{
    height:20vh;
    display: block;
    margin: 0 auto;
    padding: 28vh 10vh 0 10vh;
    /*margin-left: auto;
    margin-right: auto;*/
}

body h4{
    text-align:center;
    padding:0 10vh;
}

body p{
    padding:0 10vh;
    text-align:center;
}

